@import url(/assets/reset.css);

* {
    box-sizing: border-box;
}

body {
    background-color: teal;
    padding: 2em;

}

main.page-container {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    padding: 2em;
}

section {
    background-color: red;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    border: solid 1px blue;
    padding: 1em;
}

section.poem1-container {
    align-items: flex-start;

  
}

section.poem2-container {
    align-items: flex-end;

}

div.poem {
    width: 100%;
    padding: 1em;
    background-color: magenta;
}

div.stanza {
    background-color: green;
    padding: 1em;
    border: solid 1px whitesmoke;
}

div.line {
    background-color: yellow;
    border: solid 1px grey;

}

@media only screen and (max-width: 500px) {
    div.page-container {
        flex-direction: column;     
    }
}

