@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    background-color: teal;
    height: 100vh;

}

main.page-container {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
}

section.poem1-container {
    background-color: azure;
    align-items: flex-start;
    border-right: solid 1px black;
  
}

section.poem2-container {
    background-color: lightgoldenrodyellow;
    align-items: flex-end;

}

div.poem {
    width: fit-content;
}

/*
div.stanza {
    border: solid 1px whitesmoke;
}


div.line {
    background-color: yellow;
    border: solid 1px grey;

}
*/
@media only screen and (max-width: 571px) {
    main.page-container {
        flex-direction: column; 
        width: 100%;    
    }
    section {
        height: 50%;
        width: 100%;
    }

    section.poem1-container {
        border-right: none;
        border-bottom: solid 1px black;
      
    }
    section.poem2-container {
        justify-content: flex-end;
        align-items: flex-end;
    
    }
}

